body {
   margin:0;
   padding:0;
}

/*점보트론 디자인*/
.jumbotron {
  align-items: center;
  display: flex;
  /* 이미지 원본 주소 : https://notefolio.net/hongsungwoo/60528 */
  background-image: url('https://cdn.notefolio.net/img/0e/5c/0e5ca118cb5412748f8b3eb4801648acf4199140cda56d4685235043ac0b425f_v1.jpg');
  background-size: cover;
  height: 60vh; /* Add this */
  color: white;
}

/*주소 입력 텍스트박스 디자인*/
input[type=text]{
  width: 200px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}

/*주소 입력하고 누르는 버튼 디자인*/
#sub_button{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  border : 1px solid skyblue;
  background-color :rgba(0,0,0,0);
  color:skyblue;
  padding : 5px
  border-radius : 5px;
  border-radius : 5px;
}

/*버튼을 갖다 대었을 때 색 변하게 하기*/
#sub_button:hover{
    color:white;
    background-color : skyblue;
}
/*주소 입력 부분*/
div#address{
 width: 800px;
 height: 200px;
 margin:0 auto;
position: relative;

}

/*시/도 입력부분*/
div#city{
 width: 200px;
 height: 100px;
 position: absolute;
 top: 50%;
 transform: translate(0, -50%)
}

/*군/구 입력부분*/
div#gungu{
 width: 200px;
 height: 100px;
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*읍/면/동 입력부분*/
div#emd{
 width: 200px;
 height: 100px;
 position: absolute;
 top: 50%;
 left: 100%;
 transform: translate(-100%, -50%);
}
